@import '~bootstrap/scss/bootstrap';

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}

header {
    height: 80px;
}

// main {
//     height: calc(100vh - 80px);
// }

footer {
    height: 60px;
}

.card {
    height: 330px;
}

.blur-backdrop {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.logo_sito {
    img {
        width: 60px;
    }
}